.container{
    cursor: pointer;

}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    margin-right: 8px;
}
.col p {
font-size: 18px;
font-weight: 800;
line-height: 27px;
text-align: center;
color: rgba(255, 255, 255, 1);

}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modalContent {
    background: white;
    border: 3px solid rgba(39, 44, 37, 1);
    border-radius: 6px;
    padding: 32px;
    box-shadow: 4px 4px 0px -2px rgba(255, 255, 255, 1),5px 5px 0px 0px rgba(39, 44, 37, 1);
    position: relative;
  }

  .textWrapper{
    width: 390px;
    padding: 0 32px;
  }

  .modalContent p, .modalContent h2 {
text-align: center;
  }

  .modalContent h2{
    margin-bottom: 12px;
  }

  .modalContent p{
    margin-bottom: 24px;
  }

  .close {
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
    left: 91%;
    top: 4px;
}

  .buttonWrapper {
    display: flex;
    justify-content: space-between;
  }

  .buttonWrapper button{
    width: 182px;
    height: 56px;
  }
  
  
  
  /* Вертикальное расположение кнопок на мобильных устройствах */
  @media (max-width: 768px) {
    .modalContent{
        width: 356px;
    }

    .textWrapper{
        width: 296px;
        padding: 0 24px;
      }

    .buttonWrapper {
      flex-direction: column;
      gap: 16px;
    }
    .buttonWrapper button{
        width: 100%;
    }
    
  }