.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(39, 44, 37, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
  }

.container{
  position: relative;
    width:  440px;
    border-radius: 6px;
    border: 3px solid rgba(39, 44, 37, 1);
    background-color: white;
    padding: 32px;
    box-shadow: 4px 4px 0px -2px rgba(255, 255, 255, 1), 5px 5px 0px 0px rgba(39, 44, 37, 1);
    z-index: 10;
  }

  .heading, .hidden_text{
    margin-bottom: 12px;
  }

  .subheading, .special_info{
    margin-bottom: 24px;
  }

  .heading, .subheading{
    text-align: center;
  }

  .hidden_text{
    color: rgba(125, 128, 124, 1);
  }
  
.selectorWrapper {
  width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 24px;
    margin-bottom: 12px;    
  }
  
  .option {
    height: 46px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    border: 2px solid rgba(39, 44, 37, 1);
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 4px 4px 0px -2px rgba(255, 255, 255, 1), 4px 4px 0px 0px rgba(39, 44, 37, 1);
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
  }

  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
  }
  
  .option input {
    display: none;
  }
  
  .option.selected {
    background-color: rgba(213, 255, 0, 1);
    box-shadow: 3px 3px 0px 0px rgba(25, 25, 25, 1);
  }

  .info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .generationsWrapper{
    display: flex;
    gap: 8px;
  }

  .mostPopular{
    width: 94px;
    height: 24px;
    border-radius: 32px;
    background-color: rgba(39, 44, 37, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;


  }
  
  

  .buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.button{
  width: 182px;
  height: 56px;
  padding: 14px 0;
  background: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.cancel, .buy{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 2px solid rgba(39, 44, 37, 1);
  color: rgba(39, 44, 37, 1);
  box-shadow: 4px 4px 0px -2px rgba(39, 44, 37, 1), 4px 4px 0px 0px rgba(39, 44, 37, 1);
}

.cancel{
  background-color: rgba(255, 255, 255, 1);

}

.cancel:hover{
  box-shadow: 4px 4px 0px -2px rgba(255, 255, 255, 1), 4px 4px 0px 0px rgba(39, 44, 37, 1);
}

.buy{
  background-color: rgba(213, 255, 0, 1);
}

.buy:hover{
  box-shadow: 4px 4px 0px -2px rgba(213, 255, 0, 1), 4px 4px 0px 0px rgba(39, 44, 37, 1);
}

.closeModal{
  background: none;
  border: none;
  position: absolute;
  top: 8px;
  left: calc(100% - 40px);
  cursor: pointer;
}

@media  (max-width: 768px) {
  .container{
    width: 344px;
    padding: 24px;
  }
  .buttons{
    flex-direction: column;
    gap: 16px;
  }

  .generationsWrapper{
    font-size: 14px;
  }

  .button{
    width: 296px;
    height: 52px;
  }
}
  