.words{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .words .input_wrapper{
    position: relative; /* Добавляем позиционирование для псевдоэлемента */
    width: 626px;
    height: 60px;
    border: 2px solid #272C25;
    border-radius: 6px;
    z-index: 2;
    margin-bottom: 20px;
  }
  
  .words .input_wrapper::after{
    content: ''; /* Добавляем пустое содержимое для псевдоэлемента */
    position: absolute; /* Позиционируем псевдоэлемент абсолютно относительно родительского элемента */
    bottom: -5px; /* Смещаем псевдоэлемент на 5 пикселей ниже основного input */
    right: -5px; /* Смещаем псевдоэлемент на 5 пикселей правее основного input */
    border-radius: 6px; 
    height: 100%; /* Высота псевдоэлемента увеличена на 10 пикселей (5 пикселей сверху и снизу) */
    width: 100%;
    border-right: 2px solid #272C25;
    border-bottom: 2px solid #272C25;
    z-index: -1;
  }
  
  .textarrea {
    width: 614px;
    height: 60px;
    padding: 12px;
    background-color: transparent;
    border-radius: 6px;
    outline: none;
    resize: none;
  }
  

  
  .text{
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    text-align: center;
    margin-bottom: 30px;
    }

    .controls{
        margin: 0 auto;
        width:  209px;
        height:  56px;
        padding: 10px 0px 0px 0px;
        gap: 10px;
        border-radius: 6px 0px 0px 0px;
        opacity: 0px;
        background-color: #D5FF00;
        box-shadow: 3px 3px 0px 0px rgba(39, 44, 37, 1);
      }
      
      .button{
      font-size: 18px;
      font-weight: 800;
      line-height: 27px;
      text-align: center;
      
      }
      