.headerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(39, 44, 37, 1);
  padding: 0 83px;
  height: 90px;
}



.userInfoContainer,
.userInfoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfoContainerText {
  text-align: center;
  margin-left: 6px;
  margin-right: 32px;
  color: rgba(255, 255, 255, 1);
}

.headerButton {
  padding: 10px 30px;
  cursor: pointer;
}

.signInText {
  display: block;
}

.headerButtonIcon {
  display: none;
}

.freeVersionContainer {
  display: flex;
  gap: 32px;
}

.freeVersionText {
  margin: auto;
  color: rgba(255, 255, 255, 1);
}



/* Адаптация под мобильные устройства */
@media (max-width: 768px) {
  .headerWrapper {
    padding: 21px 16px;
  }

  .logoContainer {
    margin-right: 109px;
  }

  .signInText {
    display: none;
  }

  .headerButtonIcon {
    display: block;
  }

  .userInfoContainer {
    display: none;
  }

  .headerButton {
    padding: 12px;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center
  }

  .headerButtonIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .freeVersionText {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .userInfoContainer {
    display: none;
  }
}