.headerWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(39, 44, 37, 1);
    padding: 22px 83px;
  }
  
  .user_info_container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user_info_container_text{
font-size: 18px;
font-weight: 700;
line-height: 27px;
text-align: center;
    margin-left: 6px;
    margin-right: 32px;
    color: rgba(255, 255, 255, 1);
  }
  
  .headerButton{
    padding: 10px 30px;
    cursor: pointer;
  }

  .signInText{
    display: block;
  }

  .headerButtonIcon{
    display: none;
  }
  


  /* Адаптация под мобильные устройства */
@media (max-width: 768px) {
  .headerWrapper {
      padding: 21px 16px;
  }

  .signInText{
    display: none;
  }

  .headerButtonIcon{
    display: block;
  }

  .user_info_container_text {
      font-size: 16px;
      margin-left: 4px;
      margin-right: 16px;

  }

  .headerButton {
    padding: 12px;
      height: 48px;
      width: 48px;
      display: flex;
      justify-content: center;
      align-items: center
  }

  .headerButtonIcon{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

