@import url(../styles/reset.css);
@import url(../styles/crosswordTable.css);
@import url(../styles/fonts.css);
@import url(../styles/buttons.css);

body{
    background: url(../assets/BG.svg);
}

@media  (max-width: 768px) {
    body{
        max-width: 768px;
    }
}

@media  (max-width: 375px) {
    body{
        max-width: 375px;
    }
}
