
  
.text{
  text-align: left;
  margin-bottom: 30px;
  padding-left: 178px;
}

.button{
margin: 0 auto;
width:  209px;
padding: 15px 65px;
border-radius: 6px ;
background-color: #D5FF00;
box-shadow: 3px 3px 0px 0px rgba(39, 44, 37, 1);
text-align: center;
margin-bottom: 20px;
cursor: pointer;
}

.error{
  position: absolute;
  top: 20%;
  left: 40%;
  background-color: red;
}
      

