.container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper{
    padding: 40px;
    background-color: white;
    width: 982px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .heading{
    width: 902px;
    margin-bottom: 24px;
  }


  
  .subHeading{
    width: 591px;
    text-align: center;
  margin-bottom: 32px;
  }
  

  /* Адаптация под мобильные устройства */
@media (max-width: 768px) {
  .container {
      width: 100%;
      padding-top: 131px;
      
  }

  .wrapper {
      width: 100%;
      height: auto;
      box-sizing: border-box;
  }

  .heading {
    width: 343px;
      margin-bottom: 12px;
  }

  .subHeading {
    width: 343px;
      margin-bottom: 24px;
  }
}

