.footer {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
    background-color: white;
}

.default {
    margin-right: 32px;
}

.underline {
    text-decoration: underline;
    margin-right: 16px;
}

.footer_light {
    color: white;
}

.footer_dark {
    color: black;
}

@media screen and (max-width: 768px) {
    .default {
        margin-right: 16px;
    }
}